.header {
    color: $colorKairos;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    height: 82px;
    margin: 0;
    padding: 20px 0 0 45px;
    background: #f0f0f2;
    cursor: pointer;
}