#filter {
    height: 38px;
    width: 448px;
    background-color: white;
    border-radius: 15px;
    outline: none;
    margin: 26px 0 0 105px;
    border: 0px;
    padding-left: 36px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0,0);
}

.filter__wrapper{
    background: #f6f7f9;
    height: 94px;
}

