.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 68px;
}

.form__textfield {
    width: 328px;
}

.form__input{
    margin: 10px;
    width: 328px;
}

.createBook__title{
  margin: 42px auto auto 106px;
  font-size: 21px;
  color: $colorBookAuthor;
}

.form__tags{
  
}