.icons__wrapper{
    display: flex;
}

.icons__delete{
    background: url('./images/close-black-button.svg') center center no-repeat;
    margin-right: 20px;
}

.icons__edit{
    background: url('./images/pencil-black.svg') center center no-repeat;
    margin-right: 10px;
}

.card__detail--icons{
    border: 0;
    outline: none;
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
}