.icons__wrapper{
    display: flex;
    justify-content: flex-end;
}

.icons__close{
    background: url('./images/close-black-button.svg') center center no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}

.icons__edit{
    background: url('./images/pencil-black.svg') center center no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}