.book__container{
    list-style: none;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 45px;
    @media all and (min-width: 768px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 60px;
    }
    @media all and (min-width: 1200px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    }
}

.book__list{
    width: 285px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.book__no-data{
  text-align: center;
  font-size: 20px;
  color: $colorBookAuthor;
}