.book__container{
    list-style: none;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 45px;
    @media all and (min-width: 768px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 60px;
    }
    @media all and (min-width: 1200px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    }
}

.book__list{
    width: 285px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.book__no-data{
  text-align: center;
  font-size: 20px;
  color: $colorBookAuthor;
}

.delete__book {
    animation-duration: 4s;
    animation-name: delete;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes delete {
    from {
        opacity: 2;
    }
    to {
        transform: rotateX(-90deg) rotateZ(-90deg);
        opacity: 0;
        color: white;
    }
}
.prueba {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}