.detail__wrapper {
    max-height: 824px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    align-items: center;
}

.list__item{
    border-bottom: 1px solid $colorBookAuthor;
}

.list__view-details {
    width: 523px;
    list-style: none;
}

.list__item--content {
    width: 360px;
    height: 48px;
    line-height: 40px;
    font-size: 16px;
    margin-left: 12px;
}

.list__item--title {
    font-size: 12px;
    color: $colorKairos;
    letter-spacing: 0.4px;
    margin: 25px 0 0;
}

.list__item--type{
    text-transform: capitalize;
}

.list__tags--list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
}

.list__tags--item {
    text-transform: capitalize;
    font-size: 16px;
    line-height: 24px;
    height: 25px;
    background: $colorBookTags;
    border-radius: 15px;
    color: $colorTagsContent;
    padding: 0 10px;
    margin: 5px 5px 5px 0;
}

.list__item--content-tags {
    width: 360px;
}