.main__addbook--container{
    position: relative;
    height: 130px;
    padding-top: 50px;
}

.main__addbook--btn{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 166px;
    position: absolute;
    right: 25px;
    color: #424B5A;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    font-family: $robRegular;
    border: 1px solid #979797;
    outline: none;
    background: white;
    border-radius: 10px;
    margin-right: 24px;
    cursor: pointer;
    @media all and (min-width: 720px){
        margin-right: 36px;
    }
    @media all and (min-width: 1200px){
        margin-right: 16px;
    }
}

.form__btn{
    cursor: pointer;
    width: 100px;
    height: 48px;
    text-decoration: none;
    background-color:#fa9917;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: $robRegular;
    font-weight: medium;
    outline: none;
}

.btn__container{
    display: flex;
    justify-content: center;
    margin: 52px 0 84px;
}

.link__close {
    width: 116px;
    padding: 25px;
    text-decoration: none;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 72px 0 94px 0;
    text-transform: uppercase;
    font-family: $robRegular;
    font-weight: medium;
}

.form__btn--close {
 background-color: white;
}

.delete__pop-up--btn {
    cursor: pointer;
}