*{
    box-sizing: border-box;
}

.link__router{
    text-decoration: none;
}

//Title components

.left__arrow{
  width: 35px;
  background: url(./images/angle-left-solid.svg) center center no-repeat;
}

.wrapper__title{
  display: flex;
  height: 35px;
}

.createBook__title{
  font-size: 21px;
  color: #BDBDBD;
}