*{
    box-sizing: border-box;
}

.link__router{
    text-decoration: none;
}

.react {
  background-color: #61dbfb !important;
}

.javascript {
  background-color: #f7df1e !important;
}

.vue {
  background-color: #42b883 !important;
}

.agile{
  background-color: $colorKairos !important;
}