*{
    box-sizing: border-box;
}

.link__router{
    text-decoration: none;
}

.left__arrow{
  height: 50px;
  width: 50px;
  background: url(./images/angle-left-solid.svg) center center no-repeat;
  background-size: cover;
}