//Primary colours
$colorKairos :#ff7900;
$colorBookTitle: #333436;
$colorBookAuthor: #F0F0F2;

//Secondary colours
$colorBookTags: #c8c8c8;
$colorTagsContent: #f8fbfd;

//Typography
$robRegular: 'Roboto', sans-serif;
