//Primary colours
$colorKairos :#ff7900;
$colorBookTitle: #333436;
$colorBookAuthor: #a1aeb7;

//Secondary colours
$colorBookTags: #c8c8c8;
$colorTagsContent: #f8fbfd;

//Typography
$robRegular: 'Roboto', sans-serif;
